<ion-header>
  <ion-toolbar color="warning">
    <a href="">
      <ion-icon name="chevron-back-outline" class="icono"></ion-icon>
    </a>
    <ion-title>Mis Diarios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <!-- Seccion de Agregacion de Datos -->
  <ion-list>
    <ion-textarea placeholder="Ingrese el titulo" [(ngModel)]="AddDiario.titulo" [clearOnEdit]="true" class="Titulo"
      style="font-size: large;">
    </ion-textarea>
    <ion-textarea placeholder="Ingrese el texto" [(ngModel)]="AddDiario.texto" [clearOnEdit]="true" class="Texto"
      [autoGrow]="true">
    </ion-textarea>
    <ion-item>
      <ion-label></ion-label>
      <ion-input placeholder="Ingrese la fecha" [(ngModel)]="AddDiario.fecha" type="date"></ion-input>
    </ion-item>
    <ion-label>
      <p class="notadevoz">Nota de voz:</p>
      <ion-text>
        <h1 class="status">{{status}}</h1>
      </ion-text>
      <ion-button (click)="RecordAudio()" color="success" class="grabar">Grabar</ion-button>
      <ion-button (click)="StopRecording()" color="danger" class="grabar">Parar</ion-button>
    </ion-label>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webviewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- ion-fab markup  -->
  <ion-button color="primary" (click)="add(AddDiario)">Agregar</ion-button>
  <!-- SECCION DEL LISTADO -->
  <p>Listado de Diarios</p>
  <ion-item *ngFor="let item of Diario">
    <p>Titulo:{{item.titulo}}</p>
    <p>texto:{{item.texto}}</p>
    <p>fecha:{{item.fecha}}</p>
    <!-- <p>Foto: {{item.Foto}}</p>-->
    <p>Nota de voz: {{item.video}}</p>
  </ion-item>
  <!-- <ion-button color="primary" [hidden]="visibleUpdate"(click)="edit(item)">Editar</ion-button> -->
  <ion-button color="success" [hidden]="visibleUpdate" (click)="execute(AddDiario)">Actualizar</ion-button>
  <!-- <ion-button color="danger"(click)="delete(item.name)">Borrar</ion-button> -->
</ion-content>